<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/knives">Knives</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/academia">Academic Contributions</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories#technology">Technology</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories#other">Other</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-me">About Me</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/North14">Github</a>
</li>
-->
