<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/knives.html">Knives</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/academia.html">Academic Contributions</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#technology">Technology</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#other">Other</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-me.html">About Me</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/North14">Github</a>
</li>
-->
