<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/knives.html">Knives</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/category#spirituality">Spirituality</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/category#technology">Technology</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/category#other">Other</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/North14">Github</a>
</li>
-->
